---
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("playlists")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 100%;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
      }
      ul li {
        width: calc(50% - 1rem);
        margin-bottom: 1rem;
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li img {
        margin-bottom: 1rem;
        border-radius: 0px;
        &:hover {
        }
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(255, 255, 255);
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(255, 56, 56);
      }
      ul li a:hover .title {
        color: rgb(255, 56, 56);
      }
      ul li a:hover .date {
        color: rgb(255, 255, 255);
      }
      ul iframe {
        margin-top: 1rem;
      }
      ul iframe:hover {
        box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
          margin-left: 10vw;
          margin-right: 10vw;
        }
      }
    </style>
  </head>
  <body class="bg-black">
    <Header />
    <main class="mt-10">
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="">
                <a href={`/playlists/${post.slug}/`}>
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <iframe
                    style="border-radius:12px"
                    src={`${post.data.playlistURL.replace("spotify.com/playlist", "spotify.com/embed/playlist")}?utm_source=generator`}
                    width="100%"
                    height="352"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
