---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('events')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 100%;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
				width: 100%;
				align-items: center;
				justify-content: center;
			}
			ul li {
        width: calc(50% - 1rem);
        margin-bottom: 1rem;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 1rem;
				border-radius: 0px;
				&:hover {
				}
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(255, 255, 255);
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(255, 56, 56);
			}
			ul li a:hover .title {
				color: rgb(255, 56, 56);
			}
			ul li a:hover .date {
				color: rgb(255, 255, 255);
			}
			ul a:hover img {
				box-shadow: 0px 0px 0px 5px rgb(255, 255, 255);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
					margin-left: 10vw;
					margin-right: 10vw;
				}
			}
			@media (min-width: 720px) {
				ul {
					max-width: 45rem;
					margin: auto;
				}
			}
		</style>
	</head>
	<body class="bg-black">
		<Header />
		<main class="flex flex-col mt-10">
      <!-- <div class='flex flex-row border-b mb-10'> -->
      <!--   <h1 class=''>Gallery</h1> -->
      <!-- </div> -->
      <section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/events/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
